# OS
Thumbs.db
Desktop.ini
.DS_Store

# Editors
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/

# WASM build output
wasm/build/

# Emscripten artifacts
*.wasm
*.js.map
*.data
*.mem

# Emscripten SDK
emsdk/
